$blue: #385365 !default;
$white: #f2efe2;

.home-page {
  font-size: 35px;
  font-weight: bold;
  text-align: center;

  ion-content {
    background-color: $blue;
    color: $white;

    &[padding] {
      scroll-content {
        padding-top: 45px;
      }
    }
  }

  .icon {
    display: block;
    margin: auto;
    padding-bottom: 30px;
    width: 100px;
  }

  .action {
    padding-bottom: 60px;
  }
}
